
:root {
  --background-color: red;
  --primary-color: hsl(215, 75%, 40%);
  --secondary-color: hsl(215, 90%, 60%);
  --active-color: hsl(215, 80%, 95%);
  --past-color: hsl(215, 90%, 75%);

  --primary-text-color: black;
  --secondary-text-color: white;
}

