html, body {
  margin: 0;
  padding: 0;
}

//tesztelésre
.red {
  background-color: red;
  margin: 0;
  height: 100%;
  width: 100%;
}
//tesztelésre



.global_position {
  height: 100%;
  width: 100%;
}

.asd{
  //height: 200px;
  //width: 400px;
  min-height: 200px;
  min-width: 400px;
  overflow: auto;
}
