@use '@angular/material' as mat;

@include mat.core();

$Appointy-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$azure-palette,
    tertiary: mat.$blue-palette,
  ),
  density: (
    scale: 0,
  )
));

:root {
  @include mat.all-component-themes($Appointy-theme);
}

@import "variables";

html, body {
  margin: 0;
  padding: 0;
}

.fullscreen {
  overflow-y: auto;
  height: 100%;
  width: 100%;
}

.restricted{
  height: 500px;
  width: 800px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
