@import "variables";

html, body {
  margin: 0;
  padding: 0;
}

//tesztelésre
.red {
  background-color: red;
  margin: 0;
  height: 100%;
  width: 100%;
}
//tesztelésre

.global_size {
  //height: 200px;
  //width: 400px;
  overflow-y: auto;
  min-height: $min-height;
  min-width: $min-width;
}

.fullscreen {
  height: 100vh;
  width: 100vw;
}

.event_container {
  width: 100%;
  z-index: 9;
}
.event_container:nth-child(2) {
  width: 75%;
  margin-left: -75%;
}
.event_container:nth-child(3) {
  width: 50%;
  margin-left: -50%;
}
.event_container:nth-child(4) {
  width: 33%;
  margin-left: -33%;
}

.now_container {
  width: 100%;
  z-index: 10;
  height: 2px;
  position: absolute;
}
