$hour-cell-height: 4rem;
$header-cell-height: 4rem;
$date-container-height: 3rem;

$column-top-padding: 10px;

$column-width: 7rem;
$hours-column-width: 2.5rem;

//hsla(233 70% 90% / 0.5)
$background-color: hsl(0 100% 100%);
$primary-color: hsl(215, 75%, 40%);
$secondary-color: hsl(215, 90%, 60%);
$active-color: hsl(215, 80%, 95%);

$primary-text-color: black;
$secondary-text-color: white;

$min-height: 300px;
$min-width: calc($column-width * 7 + $hours-column-width);

$min-table-height: 200px;
