$hour-cell-height: 4rem;
$header-cell-height: 4rem;

$column-top-padding: 10px;

//hsla(233 70% 90% / 0.5)
$background-color: hsl(0 100% 100%);
$primary-color: hsl(215, 75%, 40%);
$secondary-color: hsl(215, 90%, 60%);
$active-color: hsl(215, 80%, 95%);
