@import "../../variables";

.formContainer{
  margin: 5px;
  width: 450px;
}

.aligner{
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-content: center;
  height: 100%;
}

.btn-ok{
  background-color: var(--primary-color);
  color: var(--secondary-text-color);
}

form {
  width: 100%;
}
