<div class="d-flex flex-column justify-content-center align-items-center formContainer">
  <h4>Suggest edits to existing appointment</h4>

  <form [formGroup]="eventForm" (ngSubmit)="saveChanges()">
    <div class="md-header">
      <div class="d-flex flex-column summary_row">
        <label for="summary">Summary</label>
        <input type="text" name="summary" id="summary" formControlName="summary">
      </div>
    </div>

    <div class="md-body">
      <div class="d-flex flex-column">
        <label for="description">Description</label>
        <textarea name="description" id="description" formControlName="description" cols="30" rows="3"></textarea>

        <div>
          <div class="d-flex flex-column">
            <label for="date">Date</label>
            <input type="date" name="date" id="date" formControlName="date">
          </div>
        </div>

        <div class="d-flex flex-row justify-content-between time_input">
          <div class="d-flex flex-column">
            <label for="start">Start</label>
            <input type="time" name="start" id="start" formControlName="start">
          </div>
          <div class="d-flex flex-column justify-content-end">
            <pre> - </pre>
          </div>
          <div class="d-flex flex-column">
            <label for="end">End</label>
            <input type="time" name="end" id="end" formControlName="end">
          </div>
        </div>

        <div class="d-flex flex-column">
          <label for="location">Location</label>
          <select name="location" id="location" formControlName="location" class="form-select">
            <option value="0">No location</option>
            @for (option of constService.LOCATIONS; track $index) {
              <option [value]="option">{{ option }}</option>
            }
          </select>
        </div>
      </div>
    </div>
    <div class="d-flex m-2 justify-content-center">
      <button class="btn btn-sm btn-outline-secondary" onclick="window.close()">Cancel</button>
      <button type="submit" class="btn btn-ok" [disabled]="eventForm.invalid">OK</button>
    </div>
  </form>
</div>
