<div class="md-backdrop" (click)="closeModal()"></div>
<div class="md">
  <form [formGroup]="eventForm" (ngSubmit)="saveChanges()">
    <div class="md-header">
      @if (eventDetails.inputsRequired) {
        <div class="d-flex flex-column summary_row">
          <label for="summary">Summary *</label>
          <input type="text" name="summary" id="summary" formControlName="summary" class="form-control"
                 placeholder="Title">
          @if (eventForm.get('summary')?.hasError('required')) {
            <small class="text-danger">Summary is required.</small>
          }
        </div>
      } @else {
        <h3 class="md-title">{{ eventDetails.calendarEvent?.summary ?? "No summary" }}</h3>
      }
      <span class="close_btn" (click)="closeModal()">×</span>
    </div>
    <div class="md-body">
      @if (eventDetails.inputsRequired) {
        <div class="d-flex flex-column">
          <label for="description">Description</label>
          <textarea name="description" id="description" formControlName="description" cols="30" rows="3"
                    class="form-control" placeholder="Description"></textarea>


          <div class="d-flex flex-row justify-content-between time_input">
            <div class="d-flex flex-column">
              <label for="start">Start</label>
              <input type="time" name="start" id="start" formControlName="start" class="form-control">
            </div>
            <div class="d-flex flex-column justify-content-end">
              <pre> - </pre>
            </div>
            <div class="d-flex flex-column">
              <label for="end">End</label>
              <input type="time" name="end" id="end" formControlName="end" class="form-control">
            </div>
          </div>

          @if (eventForm.get('start')?.hasError('required')) {
            <small class="text-danger">Start is required.</small>
          }
          @if (eventForm.get('end')?.hasError('required')) {
            <small class="text-danger">End is required.</small>
          }
          @if (eventForm.hasError('startBeforeEnd')) {
            <small class="text-danger">Start time must be before end time.</small>
          }
          @if (eventForm.hasError('startInDisallowed')) {
            <small class="text-danger">Start time must not be in a disallowed timeframe.</small>
          }
          @if (eventForm.hasError('endInDisallowed')) {
            <small class="text-danger">End time must not be in a disallowed timeframe.</small>
          }
          @if (eventForm.hasError('timesEnvelopDisallowed')) {
            <small class="text-danger">Start and End times must not envelop a disallowed timeframe.</small>
          }
          @if (eventForm.hasError('startInOverlap')) {
            <small class="text-danger">Start time must not be overlapping with an other event.</small>
          }
          @if (eventForm.hasError('endInOverlap')) {
            <small class="text-danger">End time must not be overlapping with an other event.</small>
          }
          @if (eventForm.hasError('timesEnvelopOverlap')) {
            <small class="text-danger">Start and End times must not envelop an other event.</small>
          }

          <small class="date_details">{{ eventDetails.calendarEvent?.startDate?.getFullYear() }}.{{ startMonth.padStart(2, '0') }}.{{ eventDetails.calendarEvent?.startDate?.getDate() }}.</small>

          <div class="d-flex flex-column">
            <label for="location">Location *</label>
            <select name="location" id="location" formControlName="location" class="form-select"
                    (change)="locationChanged($event)">
              <option value="" disabled>No location</option>
              @for (option of constService.LOCATIONS; track $index) {
                <option [value]="option">{{ option }}</option>
              }
            </select>
            @if (eventForm.get('location')?.hasError('required')) {
              <small class="text-danger">Location is required.</small>
            }
          </div>


          <div class="d-flex flex-column">
            <label for="email">Your E-mail *</label>
            <input type="email" name="email" id="email" formControlName="email" class="form-control"
                   placeholder="your-email@example.com">
            @if (eventForm.get('email')?.hasError('required')) {
              <small class="text-danger">E-mail is required.</small>
            }
          </div>

          <div class="d-flex flex-column">
            <label for="attendees">Other attendees' E-mails (comma separated, max {{ max_attendees }} addresses)</label>
            <input type="email" name="attendees" id="attendees" formControlName="attendees" class="form-control"
                   placeholder="attendee@example.com,other@example.com" multiple>
          </div>

        </div>

      } @else {
        @if (eventDetails.calendarEvent?.description) {
          <p>{{ eventDetails.calendarEvent?.description }}</p>
        }
        @if (eventDetails.calendarEvent?.location) {
          <p>Location: {{ eventDetails.calendarEvent?.location }}</p>
        }

        <small>{{ eventDetails.calendarEvent?.startDate?.getFullYear() }}.{{ startMonth.padStart(2, '0') }}.{{ eventDetails.calendarEvent?.startDate?.getDate()?.toString()?.padStart(2, '0') }}.</small>
        <small>{{ eventDetails.calendarEvent?.startDate?.getHours() }}:{{ eventDetails.calendarEvent?.startDate?.getMinutes()?.toString()?.padStart(2, '0') }} - {{ eventDetails.calendarEvent?.endDate?.getHours() }}:{{ eventDetails.calendarEvent?.endDate?.getMinutes()?.toString()?.padStart(2, '0') }}</small>
      }
    </div>
    <div class="md-footer">
      @if (eventDetails.inputsRequired) {
        <button type="submit" class="btn btn-ok" [disabled]="eventForm.invalid">OK</button>
      }
    </div>
  </form>
</div>
