<div class="md-backdrop" (click)="closeModal()"></div>
<div class="md">
  <form [formGroup]="eventForm" (ngSubmit)="saveChanges()">
    <div class="md-header">
      @if (eventDetails.inputsRequired) {
        <div class="d-flex flex-column summary_row">
          <label for="summary">Summary</label>
          <input type="text" name="summary" id="summary" formControlName="summary">
        </div>
      } @else {
        <h3 class="md-title">{{ eventDetails.calendarEvent?.summary ?? "No summary" }}</h3>
      }
      <span class="close_btn" (click)="closeModal()">×</span>
    </div>
    <div class="md-body">
      @if (eventDetails.inputsRequired) {
        <div class="d-flex flex-column">
          <label for="description">Description</label>
          <textarea name="description" id="description" formControlName="description" cols="30" rows="3"></textarea>

          <small class="date_details">{{ eventDetails.calendarEvent?.startDate?.getFullYear() }}
            .{{ startMonth.padStart(2, '0') }}
            .{{ eventDetails.calendarEvent?.startDate?.getDate() }}.</small>

          <div class="d-flex flex-row justify-content-between time_input">
            <div class="d-flex flex-column">
              <label for="start">Start</label>
              <input type="time" name="start" id="start" formControlName="start">
            </div>
            <div class="d-flex flex-column justify-content-end">
              <pre> - </pre>
            </div>
            <div class="d-flex flex-column">
              <label for="end">End</label>
              <input type="time" name="end" id="end" formControlName="end">
            </div>
          </div>
          <div>
            <div class="d-flex flex-column">
              <label for="start">E-mail</label>
              <input type="email" name="email" id="email" formControlName="email">
            </div>
          </div>
        </div>
      } @else {
        <p>{{ eventDetails.calendarEvent?.description }}</p>
        <small>{{ eventDetails.calendarEvent?.startDate?.getFullYear() }}
          .{{ startMonth.padStart(2, '0') }}
          .{{ eventDetails.calendarEvent?.startDate?.getDate()?.toString()?.padStart(2, '0') }}.</small>
        <small>{{ eventDetails.calendarEvent?.startDate?.getHours() }}
          :{{ eventDetails.calendarEvent?.startDate?.getMinutes()?.toString()?.padStart(2, '0') }}
          - {{ eventDetails.calendarEvent?.endDate?.getHours() }}
          :{{ eventDetails.calendarEvent?.endDate?.getMinutes()?.toString()?.padStart(2, '0') }}</small>
      }
    </div>
    <div class="md-footer">
      @if (eventDetails.inputsRequired) {
        <button type="submit" class="btn btn-ok" [disabled]="eventForm.invalid">OK</button>
      }
    </div>
  </form>
</div>
