<div class="d-flex flex-column fullscreen">

  <Appointy-event-details-modal *ngIf="eventDetailsVisible" [eventDetails]="eventDetails"/>

  <div class="d-flex flex-row justify-content-center align-items-center date_container">
    <button class="me-4 btn btn-secondary btn-sm" (click)="prevWeek()"><</button>
    <h4 class="m-0 date_display">{{ currentDate.getFullYear() }} {{ middleDate.toLocaleDateString(constService.LOCALE, {month: 'long'}) }} </h4>
    <button class="ms-4 btn btn-secondary btn-sm" (click)="nextWeek()">></button>
  </div>

  <div class="d-flex flex-row background fullscreen_lite">

    <div class="d-flex flex-column grow">

      <div class="d-flex flex-row">
        <div class="filler hours_column"></div>
        @for (day of weekdays; track $index) {
          <Appointy-weekday [day]="day" [date]="dates[$index].getDate()" class="weekdays"/>
        }
      </div>

      <div class="d-flex flex-row grow scrollable" id="scrollable">
        <div class="hours_column">
          <Appointy-hours-column/>
        </div>
        @for (i of dates; track $index) {
          <div class="d-flex flex-column grow">
            <Appointy-calendar-column [date]="dates[$index]" class="day_column"/>
          </div>
        }
      </div>
    </div>
  </div>
</div>

