@import "../variables.scss";

.grow{
  min-width: $column-width;
  flex-basis: 0;
  flex-grow: 1;
}

.fullscreen_lite {
  width: 100vw;
  height: calc(100vh - $date-container-height - $column-top-padding - var(--hour-cell-height));
}

.scrollable {
  overflow-y: auto;
  min-width: $min-width;
  max-height: calc(100% - $column-top-padding - var(--hour-cell-height) - $date-container-height);
  min-height: 100%;
  scrollbar-width: none;
}

.weekdays{
  padding-top: $column-top-padding;
  min-width: $column-width;
  min-height: $header-cell-height;
  flex-basis: 0;
  flex-grow: 1;
}

.day_column{
  min-width: $column-width;
  flex-basis: 0;
  flex-grow: 1;
}

.hours_column {
  min-width: $hours-column-width;
  min-height: 2rem;
  padding-top: 0;
  margin-top: -5px;
  margin-left: 15px;
}

.date_display {
  padding: 5px;
  text-align: center;
}

.btn-rounded {
  border-radius: 50%;
}

.background {
  background-color: $background-color;
}
