@import "../../variables";
.card{
  color: $secondary-text-color;
  border: 1px solid white;
  padding: 6px;
  cursor: pointer;
  overflow: clip;
}

.future_event{
  background-color: $primary-color;
}

.past_event {
  background-color: $past-color;
}

small {
  overflow: clip;
  white-space: nowrap;
}
