@import "../../variables";
.card{
  color: var(--secondary-text-color);
  border: 1px solid white;
  padding: 6px;
  cursor: pointer;
  overflow: clip;
  z-index: 8;
}

.future_event{
  background-color: var(--primary-color);
}

.past_event {
  background-color: var(--secondary-color);
}

small {
  overflow: clip;
  white-space: nowrap;
}
